.green-line {
  height: 5px;
  background-color: #4a7856;
}

.navbar {
  background-color: #934925;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 120px;
  background-color: #fff6e5;
}

.menu-items{
  display: flex;
  gap: 30px;
}

.menu-items a:link, .menu-items a:visited {
  color: #fafaf4;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
}

.menu-items a:hover {
  color: #fafaf4cc;
}

.menu-items a:active {
  color: #fafaf499;
}
