.green-line {
  height: 5px;
  background-color: #4a7856;
}

.navbar {
  background-color: #934925;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 120px;
  background-color: #fff6e5;
}

.navbar-items{
  display: flex;
  gap: 30px;
}

.navbar-items a:link, .navbar-items a:visited {
  color: #fafaf4;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
}

.navbar-items a:hover {
  color: #fafaf4cc;
}

.navbar-items a:active {
  color: #fafaf499;
}

.nav-menu{
  display: flex;
  gap: 80px;
  align-items: center;
}

.cart-icon{
  width: 40px;
}

.cart-btn{
  background: none;
  border: none;
  position: relative;
}

.cart-btn:hover{
  opacity: 80%;
}

.cart-btn:active{
  opacity: 60%;
}

.cart-items-count{
  position: absolute;
  top: -5%;
  right: -5%;
  height: 17px;
  width: 17px;
  color: #fafaf4;
  background-color: #4a7856;
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
}